* {
	margin: 0;  
	padding: 0; 
	box-sizing:border-box;
}


main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}
body{
	background-color: #efefef;
}
 .photo{width: calc(50% - 40px);
 	height: calc((35vw - 40px) / 16 * 9);
 	margin: 10px;
 	background-color: green;
 	background-position: center;
 	background-size: cover;
 	transition: all 3s ease;
 	box-shadow: 0 0 20px 1px rgba(0,0,0,0.44444444444444444444);



 }
 .photo:hover {
 	transform: rotate(363deg) scale(1.07);
 	box-shadow: 0 0 20px 1px rgba(0,0,0,0.44444444444444444444);

 }
 h1{
 	width: 100%;
 	text-align: center;
 	font-size: 48px; 
 }
 .photo2{
 	background-image: url(../img/IMG.2.jpg)
 }

 .photo1{
 		background-image: url(../img/IMG.1.webp)
 }

 .photo3{
 		background-image: url(../img/IMG.3.jpg)
 }

 .photo4{
 		background-image: url(../img/IMG.4.jpg)
 }

 .photo5{
 		background-image: url(../img/IMG.5.jpg)
 }
 	 	
 .photo6{
 		background-image: url(../img/IMG.6.jpg)
 }

 .photo7{
 		background-image: url(../img/IMG.7.jpg)
 } 	
 .photo8{
 		background-image: url(../img/IMG.8.jfif)
 }

 .photo9{
 		background-image: url(../img/IMG.9.jpg)
 } 

 .photo10{
 		background-image: url(../img/IMG.10.jfif)
 }

 .photo11{
 		background-image: url(../img/IMG11.jfif)
 } 

 .photo12{
 		background-image: url(../img/IMG.12.jfif)
 }